source ~/.vimrc

" normal mode
nnoremap <LEADER>gd :action GotoImplementation<CR>
nnoremap <LEADER>oi :action OptimizeImports<CR>
nnoremap <LEADER>fu :action FindUsages<CR>
nnoremap <LEADER>nf :action NewFile<CR>
nnoremap <LEADER>c :action ReformatCode<CR>
nnoremap <LEADER>fs :action ActivateStructureToolWindow<CR>
nnoremap <LEADER>p :action QuickImplementations<CR>
nnoremap <LEADER>r :action RenameElement<CR>
